@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3";
}

.app {
  display: flex;
  position: relative;
}

.source-sans-3-400 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.source-sans-3-600 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.source-sans-3-400 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
}
/* track */
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}
/* handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* handlehover */
::-webkit-scrollbar-track:hover {
  background-color: #555;
}
